h2 {
    display: flex;
    justify-content: center;
    background-color: rgba(128, 0, 0, 0.013);
    height: 3ch;
}

.wood {
    width: 100%;
    height: 100%;
}

#myList {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: space-around;
}

.containerButton {
    display: flex;
    justify-content: center;
}

.btn {
    margin-left: 15px;
}

@media(max-width:379px) {
    #myList {
        display: grid;
        grid-template-columns: 200px;
        justify-content: space-around;
    }
}

@media(max-width:768px) and (min-width: 380px) {
    #myList {
        display: grid;
        grid-template-columns: 200px 200px;
        justify-content: space-around;
    }
}